.gallery__delete-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 0;
  background: transparent;
  transition: ease-in-out 0.2s;
}

.gallery__delete-icon:hover {
  opacity: 0.6;
  transition: ease-in-out 0.2s;
}

