.profile__left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .profile__left-block {
    flex-direction: row;
    justify-content: flex-start;
  }
}
